.noSongs {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .profileImage {
    height: 100px;
    width: 100px;
  }

  .tagline {
    font-size: 2rem;
    font-weight: bold;
  }

  & > span,
  .zIndex {
    z-index: 10;
  }
}
