.profileImage {
  --width: 100%;
  --head-width: calc(var(--width) * 0.4);
  --body-width: calc(var(--width) * 0.9);

  width: var(--width);
  height: var(--width);
  border-radius: var(--width);
  border-radius: var(--width);
  background-color: rgba(var(--accent-color-rgb), 1);
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  &.clickable {
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
  }

  .head {
    width: var(--head-width);
    height: var(--head-width);
    border-radius: var(--width);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }

  .body {
    width: var(--body-width);
    height: var(--body-width);
    border-radius: var(--width);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
  }

  span {
    font-weight: bold;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--accent-color);
    color: #000;
    letter-spacing: -0.01rem;
    padding-right: 0.1rem;
  }
}
