* {
  box-sizing: border-box;
}

:root {
  --background-color: #16161a;
  --background-color-dark: #111115;
  --background-color-light: #23232d;
  --background-color-light-2: #3b3b4b;
  --background-color-light-3: #ddddf3;

  --accent-color-rgb: 100, 100, 255;
  --accent-color: rgb(var(--accent-color-rgb));
  --accent-color-secondary-rgb: 100, 255, 165;
  --accent-color-secondary: rgb(var(--accent-color-secondary-rgb));

  --error-color-rgb: 255, 100, 100;
  --error-color: rgb(var(--error-color-rgb));
  --success-color-rgb: 100, 255, 113;
  --success-color: rgb(var(--success-color-rgb));

  --font-color: #e3e3fb;
  --svg-color: #9b9bbf;

  --gradient-background-color-fallback: #2a7b9b;
  --gradient-background-color: linear-gradient(
    140deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(165, 87, 199, 1) 50%,
    rgba(237, 83, 98, 1) 100%
  );
  --gradient-background-color-2-fallback: #48beff;
  --gradient-background-color-2: linear-gradient(
    90deg,
    rgba(72, 190, 255, 1) 0%,
    rgba(78, 56, 253, 1) 50%,
    rgba(234, 54, 182, 1) 100%
  );
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  --font-family:
    "Red Hat Display", system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--font-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100dvh;
  width: 100dvw;
  overflow: auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

.notificationContainer {
  position: fixed;
  top: 0;
  height: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  z-index: 20;
  pointer-events: none;
}

body.no-scroll {
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: transparent;
  background-color: var(--background-color-light-2);
  color: var(--svg-color);
  border-radius: 50rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: inherit;
  transition: 0.3s ease;
  font-size: 1rem;
}
button:hover:not[data-disabled="true"] {
  border-color: var(--accent-color);
}
button:focus:not[data-disabled="true"],
button:focus-visible:not[data-disabled="true"] {
  outline: 4px auto -webkit-focus-ring-color;
}
button svg {
  width: 1.3rem;
  height: 1.3rem;
}

input {
  font-family: var(--font-family);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
